@model List<Model.Airport>

@{
    Layout = null;
    ViewBag.Title = "Airport";
}


<!DOCTYPE html>
<html>
<head>
    <title>Administrator</title>
    <meta charset="utf-8" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    @Html.Partial("_Airzures")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#admin-nav li').click(function () {
                $('#admin-nav li').removeClass('selected');
                $(this).addClass('selected');
            });
        });

    </script>
</head>
<body id="admin-body">

    <!--HORIZONTAL TOP NAVIGATION BAR-->
    <div class="admin-navlogo navbar-fixed-top">
        <a href="@Url.Action("Index", "Home")" title="Airzure Airlines">
            <img src="@Url.Content("~/Content/images/airline_logo.png")" id="admin-logo" />
        </a>
    </div>
    <div class="admin-navbar navbar-fixed-top">
        <p class="admin-navheader">ADMINISTRATOR</p>
        <div class="pull-right">
            @Html.ActionLink("Logg ut", "Logout", "Admin", null, new { @class = "btn log-out" })
        </div>
    </div>

    <div class="row">
        <!--VERTICAL SIDE NAVIGATION BAR-->
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Meny</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav" id="admin-nav">
                            <li><a href="@Url.Action("Home", "Admin")">Hjem</a></li>
                            <li><a href="@Url.Action("Departure", "Admin")">Avgang</a></li>
                            <li><a href="@Url.Action("Order", "Admin")">Bestilling</a></li>
                            <li><a class="active" href="@Url.Action("Airport", "Admin")">Flyplass</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--CONTENT AREA-->
        <div class="col-sm-9 admin-content">
            <h1>Flyplass</h1>
            <div class="table-responsive">
            <table class="table">
                <thread>
                    <tr>
                        <th>Flyplass ID</th>
                        <th>Navn</th>
                        <th>By</th>
                        <th>Land</th>
                        <th>Kontinent</th>
                        <th>Avgift</th>
                        <th>Oppdater</th>
                        <th>Slett</th>
                    </tr>
                    <tbody>

                        @foreach (var airport in Model)
                        {
                            <tr>
                                <td id="id">@airport.AirportId</td>
                                <td id="time">@airport.Name</td>
                                <td id="date">@airport.City </td>
                                <td id="from">@airport.Country</td>
                                <td id="to">@airport.Continent</td>
                                <td id="price">@airport.Fee</td>


                                <td>@Html.ActionLink("Oppdater", "UpdateAirport", "Admin", new { id = airport.AirportId }, new { @class = "btn btn-info" })</td>
                                <td>@Html.ActionLink("Slett", "DeleteAirport", "Admin", new { id = airport.AirportId }, new { @class = "btn btn-danger" })</td>

                            </tr>
                        }
                    </tbody>
                </thread>
            </table>
            </div>
        </div>
    </div>



</body>
</html>
