@model Model.Airport

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Administrator</title>
    <meta charset="utf-8" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        function showHide() {
            var x = document.getElementById("show-hide-airport");
            if (!x.style.display || x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

    </script>
</head>

<body id="admin-body">
    <!--CONTENT AREA-->
    <div class="col-sm-9 col-md-9 admin-content">
        @{ var AllAirports = ViewData["AllAirports"] as List<Model.Airport>;}
        <h1>Flyplass</h1>

        <!--Create new departure-->
        <button onclick="showHide()" id="btn-showHide" class="create-button pull-right btn-create">+ Lag ny flyplass</button><br />

        <div id="show-hide-airport">
            @using (Html.BeginForm(FormMethod.Post))
            {
                <div class="col-sm-6">
                    @Html.Label("Navn", htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                </div>
                    <div class="col-sm-6">
                        @Html.Label("By", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(x => x.City, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                    </div>
                    <div class="col-sm-6">
                        @Html.Label("Land", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(x => x.Country, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                    </div>
                    <div class="col-sm-6">
                        @Html.Label("Kontinent", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(x => x.Continent, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                    </div>
                    <div class="col-sm-6">
                        @Html.Label("Avgift", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(x => x.Fee, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="submit" value="Lagre" class="btn btn-default btn-admin-save btn-save" />
                    </div>
            }
        </div>
        <br /><br />

        <div class="table-responsive table-query">
            <table class="table">
                <thread>
                    <tr>
                        <th>Flyplass ID</th>
                        <th>Navn</th>
                        <th>By</th>
                        <th>Land</th>
                        <th>Kontinent</th>
                        <th>Avgift</th>
                        <th>Oppdater</th>
                        <th>Slett</th>
                    </tr>
                    <tbody>

                        @foreach (var airport in AllAirports)
                        {
                            <tr>
                                <td id="id">@airport.AirportId</td>
                                <td id="time">@airport.Name</td>
                                <td id="date">@airport.City </td>
                                <td id="from">@airport.Country</td>
                                <td id="to">@airport.Continent</td>
                                <td id="price">@airport.Fee</td>


                                <td>@Html.ActionLink("Oppdater", "UpdateAirport", "Admin", new { id = airport.AirportId }, new { @class = "btn btn-info" })</td>
                                <td>@Html.ActionLink("Slett", "DeleteAirport", "Admin", new { id = airport.AirportId }, new { @class = "btn btn-danger" })</td>

                            </tr>
                        }
                    </tbody>
                </thread>
            </table>
        </div>
    </div>


</body>

</html>
