@model Flybiletter.Models.LoginModel


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Log inn</title>
    <meta charset="utf-8" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    @Html.Partial("_Airzures")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
    

    </script>
</head>
<body id="admin-login-body">
    <!--
    <object type="image/svg+xml" data="~/Content/images/airline_logo_lg.svg"></object>-->

    <div class="login-box">
        <form class="admin-login"> <!--method="post"--> 
                <h1 class="login-header"> Administrator </h1>
                <div class="inner-admin-login" >
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>
                            <legend>Logg inn</legend>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.Username)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Username)
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.Password)
                            </div>

                            <div class="editor-field">
                                @Html.EditorFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>

                            <input type="submit" value="Logg inn" class="admin-login-btn" />
                        </fieldset>
                    }
                    <br />
                    <br />
                    <br />
                    <!--SKAL FJERNES, ER KUN PÅ SIDEN FOR Å GÅ VIDERE-->
                    <p>TEMP knappen brukes bare for å gå </p>
                    <p>videre til admin side. Skal fjernes. <a href="/Admin/Home" class="admin-login-btn"> TEMP </a></p>
                </div>
        </form>
    </div>
</body>
</html>