@model Model.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Log inn</title>
    <meta charset="utf-8" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    @Html.Partial("_Airzures")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body id="admin-login-body">
    <div class="login-box">
        <div class="admin-login">
            <h1 class="login-header"> Administrator </h1>
            <div class="inner-admin-login">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.LabelFor(x => x.Username)
                    <br />
                    @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
                    <br />
                    @Html.TextBoxFor(x => x.Username, htmlAttributes: new { @class = "admin-input-dialog" })
                    <br />
                    @Html.LabelFor(x => x.Password)
                    <br />
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                    <br />
                    @Html.TextBoxFor(x => x.Password, htmlAttributes: new { @class = "admin-input-dialog" })
                    <br />
                    <input type="submit" class="admin-login-btn" value="Log inn">
                }
            </div>
        </div>
    </div>
</body>
</html>