@model Model.AdminOrderViewModel

@{
    Layout = null;
    ViewBag.Title = "Bestillinger";
}

<!DOCTYPE html>
<html>
<head>
    <title>Administrator</title>
    <meta charset="utf-8" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    @Html.Partial("_Airzures")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#admin-nav li').click(function () {
                $('#admin-nav li').removeClass('selected');
                $(this).addClass('selected');
            });
        });

        function showHide() {
            var x = document.getElementById("show-hide-element");
            if (!x.style.display || x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>
<body id="admin-body">

    <!--HORIZONTAL TOP NAVIGATION BAR-->
    <div class="admin-navlogo navbar-fixed-top">
        <a href="@Url.Action("Index", "Home")" title="Airzure Airlines">
            <img src="@Url.Content("~/Content/images/airline_logo.png")" id="hidden-md" />
        </a>
    </div>
    <div class="admin-navbar navbar-fixed-top">
        <div class="admin-navheader"><p id="hide-admin-title">ADMINISTRATOR</p></div>
        <div class="pull-right">
            <button class="btn log-out" type="submit">Logg ut</button>
        </div>
    </div>
    <div class="row">
        <!--VERTICAL SIDE NAVIGATION BAR-->
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Meny</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav" id="admin-nav">
                            <li><a href="@Url.Action("Home", "Admin")">Hjem</a></li>
                            <li><a href="@Url.Action("Departure", "Admin")">Avgang</a></li>
                            <li><a class="active" href="@Url.Action("Order", "Admin")">Bestilling</a></li>
                            <li><a href="@Url.Action("Airport", "Admin")">Flyplass</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--CONTENT AREA-->
        <div class="col-sm-9 admin-content">
            <h1>Order</h1>

            <!--Create new order-->
            <button onclick="showHide()" id="btn-showHide" class="create-button pull-right btn-create">+ Lag ny bestilling</button>
            <br />
            <div id="show-hide-element">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Flight ID", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.FlightId, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9", @list ="Departure" } })
                        @Html.ValidationMessageFor(model => model.FlightId, "", new { @class = "text-danger" })
                        <datalist id="Departure">
                            @foreach (var dep in Model.Departure)
                            {
                                <option value="@dep.FlightId" id="@dep.FlightId">@dep.From - @dep.To</option>
                            }
                            }
                        </datalist>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Dato", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Fornavn", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Etternavn", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Telefon", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Tlf, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Tlf, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("E-post", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Pris", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Lagre" class="btn btn-default position-button btn-save" />
                }
            </div>

            <br /><br />
            <div class="table-responsive table-query">
                <table class="table">
                    <thread>
                        <tr>
                            <th>Ordrenummer</th>
                            <th>Navn</th>
                            <th>Etternavn</th>
                            <th>Tlf</th>
                            <th>Email</th>
                            <th>Pris</th>
                            <th>Kanseller</th>
                            <th>Oppdater</th>
                            <th>Slett</th>
                        </tr>
                        <tbody>

                            @foreach (var order in Model.Order)
                            {
                                <tr>
                                    <td id="id">@order.OrderNumber</td>
                                    <td id="time">@order.Firstname</td>
                                    <td id="date">@order.Surname </td>
                                    <td id="from">@order.Tlf</td>
                                    <td id="to">@order.Email</td>
                                    <td id="price">@order.Price</td>
                                    <td id="cancel">@order.Cancelled</td>

                                    <td>@Html.ActionLink("Oppdater", "UpdateOrder", "Admin", new { id = order.OrderNumber }, new { @class = "btn btn-info" })</td>
                                    <td>@Html.ActionLink("Slett", "DeleteOrder", "Admin", new { id = order.OrderNumber }, new { @class = "btn btn-danger" })</td>

                                </tr>
                            }
                        </tbody>
                    </thread>
                </table>
            </div>
        </div>
    </div>




</body>
</html>