@model Model.AdminOrderViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Administrator</title>
    <meta charset="utf-8" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        function showHide() {
            var x = document.getElementById("show-hide-order");
            if (!x.style.display || x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>
<body id="admin-body">
        <!--CONTENT AREA-->
        <div class="col-sm-9 admin-content">
            <h1>Bestilling</h1>

            <!--Create new order-->
            <button onclick="showHide()" id="btn-showHide" class="create-button pull-right btn-create">+ Lag ny bestilling</button><br />
            <div id="show-hide-order">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Flight ID", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.FlightId, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9", @list ="Departure" } })
                        @Html.ValidationMessageFor(model => model.FlightId, "", new { @class = "text-danger" })
                        <datalist id="Departure">
                            @foreach (var dep in Model.Departure)
                            {
                                <option value="@dep.FlightId" id="@dep.FlightId">@dep.From - @dep.To</option>
                            }
                            }
                        </datalist>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Dato", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Fornavn", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Etternavn", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Telefon", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Tlf, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Tlf, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("E-post", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Pris", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Lagre" class="btn btn-default position-button btn-save" />
                }
            </div>

            <br /><br />
            <div class="table-responsive table-query">
                <table class="table">
                    <thread>
                        <tr>
                            <th>Ordrenummer</th>
                            <th>Navn</th>
                            <th>Etternavn</th>
                            <th>Tlf</th>
                            <th>Email</th>
                            <th>Pris</th>
                            <th>Kanseller</th>
                            <th>Oppdater</th>
                            <th>Slett</th>
                        </tr>
                        <tbody>

                            @foreach (var order in Model.Order)
                            {
                                <tr>
                                    <td id="id">@order.OrderNumber</td>
                                    <td id="time">@order.Firstname</td>
                                    <td id="date">@order.Surname </td>
                                    <td id="from">@order.Tlf</td>
                                    <td id="to">@order.Email</td>
                                    <td id="price">@order.Price</td>
                                    <td id="cancel">@order.Cancelled</td>

                                    <td>@Html.ActionLink("Oppdater", "UpdateOrder", "Admin", new { id = order.OrderNumber }, new { @class = "btn btn-info" })</td>
                                    <td>@Html.ActionLink("Slett", "DeleteOrder", "Admin", new { id = order.OrderNumber }, new { @class = "btn btn-danger" })</td>

                                </tr>
                            }
                        </tbody>
                    </thread>
                </table>
            </div>
        </div>
  




</body>
</html>