@model List<Flybiletter.Models.Departure>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <title>Reise</title>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        var orderInn;
        
        function clickDep() {
            $('tr.clickDep').click(function () {
                $(this).addClass("selected").siblings().removeClass("selected");
                var tableData = $(this).children("td").map(function () {
                    return $(this).text();
                }).get();
                
                orderInn = {
                     id : $.trim(tableData[0]),
                     time : $.trim(tableData[1]),
                     date : $.trim(tableData[2]),
                     from : $.trim(tableData[3]),
                     to : $.trim(tableData[4]),
                     price : $.trim(tableData[5])
                }
            });
        }

       

        function sendPost() {
            $.ajax({
                url: '/Home/FlightDetailsTest',
                type: 'POST',
                data: JSON.stringify(orderInn),
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    window.location.href = "/Home/Passenger";
                },
                error: function (x, y, z) {
                    console.log(x, y, z);
                }
            });
        }
    </script>
</head>
<body>

    <div class="container">
        <!--UTREISE-->
        <h2 id="tickets-header">UTREISE</h2>
        <div class="biletter">
            <table class="table" id="tableDep">
                <thread>
                    <tr >
                        <th>Flight ID</th>
                        <th>Tid</th>
                        <th>Dato</th>
                        <th>Fra</th>
                        <th>Til</th>
                        <th>Pris</th>
                    </tr>
                    <tbody>
                        @{
                            int[] array = ViewData["Price"] as int[];
                            int i = -1;

                            if (array.Length == 0)
                            {
                                <tr><td><p>Det er ingen avganger denne datoen</p></td></tr>
                            }
                            else
                            {
                                foreach (var departure in Model)
                                {
                                    i++;
                                <tr onclick="clickDep(this)" class="clickable-row clickDep">
                                    <td id="id">@departure.FlightId</td>
                                    <td id="time">@departure.DepartureTime</td>
                                    <td id="date">@departure.Date </td>
                                    <td id="from">@departure.From</td>
                                    <td id="to">@departure.To</td>
                                    <td id="price">@array[i]</td>
                                </tr>
                                    }
                                }
                            }
                    </tbody>
                </thread>
            </table>
        </div>
        <br />
        <a href="Index" class="btn btn-lg btn-default pull-left">Tilbake</a>
        <input onclick="sendPost()" type="submit" value="Velg" class="btn btn-lg btn-primary pull-right" id="button-design" />
    </div>

</body>
</html>
