@model List<Flybiletter.Models.Departure>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <title>Reise</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>

    <div class="container">
        <!--UTREISE-->
        <h2 id="tickets-header">UTREISE</h2>
        <div class="biletter">
            <table class="table table-hover" id="table">
                <thread>
                    <tr>
                        <th>Tid</th>
                        <th>Dato</th>
                        <th>Fra</th>
                        <th>Til</th>

                    </tr>
                    @{

                        int[] array = ViewData["Price"] as int[];
                        int i = -1;

                        if (array.Length == 0)
                        {
                            <tr><td><p>Det er ingen avganger denne datoen</p></td></tr>
                        }
                        else
                        {

                            foreach (var departure in Model)
                            {
                                i++;
                            <tr>
                                <td>@departure.DepartureTime</td>
                                <td>@departure.Date</td>
                                <td>@departure.From</td>
                                <td>@departure.To</td>
                                <td>@array[i]</td>
                            </tr>
                                }
                            }
                        }

                </thread>
            </table>
        </div>

        <br /><br />

        <a href="Index" class="btn btn-lg btn-default pull-left">Tilbake</a>
        <a href="/Home/Passenger" class="btn btn-lg btn-primary pull-right" id="button-design">Fortsett</a>
    </div>

</body>
</html>
