@model Flybiletter.ViewModels.IndexViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="width=device-width" />
    <script src="~/Scripts/index-custom-JS.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Bestill</title>
</head>
<body>
    <!--BESTILLING AV BILLET-->
    <div>
        <h1 id="tickets-header">SØK FLYBILETTER</h1>
    </div>
    <div class="biletter">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">


                    @Html.LabelFor(model => model.TravelDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.TravelDate, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.TravelDate, new { htmlAttributes = new { @class = "date-design", @type = "date" } })
                    </div>
                    @Html.LabelFor(model => model.FromAirportID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.ValidationMessageFor(model => model.FromAirportID, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.FromAirportID, new { htmlAttributes = new { @class = "input-dialog-design form-control", @type = "search", @list = "FromAirport" } })
                        <datalist id="FromAirport">
                            @foreach (var airport in Model.FromAirport)
                            {
                                <option value="@airport.AirportId" id="FromAirportID">@airport.AirportId - @airport.Name</option>
                            }
                        </datalist>

                    </div>
                    @Html.LabelFor(model => model.ToAirportID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.ValidationMessageFor(model => model.ToAirportID, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.ToAirportID, new { htmlAttributes = new { @class = "input-dialog-design form-control", @type = "search", @list = "ToAirport" } })
                        <datalist id="ToAirport">
                            @foreach (var airport in Model.ToAirport)
                            {
                                <option value="@airport.AirportId" id="@Model.ToAirportID">@airport.AirportId - @airport.Name</option>
                            }

                        </datalist>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Bestill" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    
</body>
</html>