@model Model.Order

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="width=device-width"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Passasjer</title>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <br /><br />
    <div class="container col-md-12">

        <!--ORDRE INFO-->
        <h2 id="tickets-header">ORDRE</h2>
        <div class="biletter">
            <br />
            <div class="table-responsive">
                <table class="table" id="orderTable">
                    <tr>
                        <th>ID</th>
                        <th>Avgangstid</th>
                        <th>Dato</th>
                        <th>Fra</th>
                        <th>Til</th>
                        <th>Pris</th>
                    </tr>
                    <tbody>
                        <tr>
                            @{
                                var departure = ViewData["SelectedDeparture"] as Flybiletter.Models.DepartureViewModel;

                                <td>@departure.Id</td>
                                <td>@departure.Time</td>
                                <td>@departure.Date</td>
                                <td>@departure.From</td>
                                <td>@departure.To</td>
                                <td>@departure.Price</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>

        <br />

        <!--PASSASJER INFO-->
        <h2 id="tickets-header">PASSASJER INFORMASJON</h2>
        <div class="biletter">
        <br />
            <div class="biletter">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                        <div class="row">
                            <div class="col-s-12 col-md-6 ">
                                <div class="row">
                                    <div class="col-md-4 ">
                                        @Html.LabelFor(x => x.Firstname)
                                    </div>
                                    <div class="col-md-8 ">
                                        @Html.TextBoxFor(x => x.Firstname, new { id = "firstname", @class = "input-dialog-design" })
                                    </div>
                                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                                    </div>
                            </div>
                            <div class="col-s-12 col-md-6 ">
                                <div class="row">
                                    <div class="col-md-4 ">
                                        @Html.LabelFor(x => x.Surname)
                                    </div>
                                    <div class="col-md-8 ">
                                        @Html.TextBoxFor(x => x.Surname, new { id = "surname", @class = "input-dialog-design" })
                                    </div>
                                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-s-12 col-md-6 ">
                                <div class="row">
                                    <div class="col-md-4 ">
                                        @Html.LabelFor(x => x.Tlf)
                                    </div>
                                    <div class="col-md-8 ">
                                        @Html.TextBoxFor(x => x.Tlf, new { id = "tlf", @class = "input-dialog-design" })
                                    </div>
                                        @Html.ValidationMessageFor(model => model.Tlf, "", new { @class = "text-danger" })
                                    </div>
                            </div>
                            <div class="col-s-12 col-md-6 ">
                                <div class="row">
                                    <div class="col-md-4 ">
                                        @Html.LabelFor(x => x.Email)
                                    </div>
                                    <div class="col-md-8 ">
                                        @Html.TextBoxFor(x => x.Email, new { id = "email", @class = "input-dialog-design" })
                                    </div>
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="row">
                            <div class="col-md-6 ">
                                <a href="@Url.Action("FlightDetails", "Home")" class="btn btn-default btn-lg pull-left">Tilbake</a>
                            </div>
                            <div class="col-md-6 ">
                                <input type="submit" value="Bekreft" class="btn btn-default btn-lg pull-right" id="button-design">
                            </div>
                        </div>
                 }
        </div>
</div>
</body>
</html>