@model Flybiletter.Models.Customer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="width=device-width"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Passasjer</title>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div class="container col-md-12">

        <!--ORDRE INFO-->
        <h2 id="tickets-header">ORDRE</h2>
        <div class="biletter">
            <br />
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Avgangstid</th>
                    <th>Dato</th>
                    <th>Fra</th>
                    <th>Til</th>
                    <th>Pris</th>
                </tr>
                <tbody>
                    <tr>
                        @foreach (var item in ViewData["DepartureDataList"] as List<String>)
                        {
                            <td>@item</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        <br />

        <!--PASSASJER INFO-->
        <h2 id="tickets-header">PASSASJER INFORMASJON</h2>
        <div class="biletter">
        <br />
            <div class="biletter">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <table>
                        <tr>
                            <td>@Html.LabelFor(x => x.Firstname)</td>
                            <td>@Html.TextBoxFor(x => x.Firstname, new { id = "firstname", @class = "input-dialog-design" })</td>
                            <td>@Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })</td>
                            <td>@Html.LabelFor(x => x.Surname)</td>
                            <td>@Html.TextBoxFor(x => x.Surname, new { id = "surname", @class = "input-dialog-design" })</td>
                            <td>@Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(x => x.Tlf)</td>
                            <td>@Html.TextBoxFor(x => x.Tlf, new { id = "tlf", @class = "input-dialog-design" })</td>
                            <td>@Html.ValidationMessageFor(model => model.Tlf, "", new { @class = "text-danger" })</td>
                            <td>@Html.LabelFor(x => x.Email)</td>
                            <td>@Html.TextBoxFor(x => x.Email, new { id = "email", @class = "input-dialog-design" })</td>
                            <td>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</td>
                        </tr>
                    </table>
                    <br /><br />
                    <a href="@Url.Action("FlightDetails", "Home")" class="btn btn-default btn-lg pull-left">Tilbake</a>
                    <input type="submit" value="Bekreft" class="btn btn-default btn-lg pull-right" id="button-design">
                }
            </div> 
            </div>
    </div>
</body>
</html>