@model Model.Airport

@using (Ajax.BeginForm("Airport", "Admin", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Validation", UpdateTargetId = "show-hide-element" }, new { id = "form" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-sm-6">
                        @Html.Label("Navn", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger col-md-9" })
                    </div>
                    <div class="col-sm-6">
                        @Html.Label("By", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(x => x.City, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger col-md-9" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.Label("Land", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(x => x.Country, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger col-md-9" })
                    </div>
                    <div class="col-sm-6">
                        @Html.Label("Kontinent", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(x => x.Continent, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Continent, "", new { @class = "text-danger col-md-9" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.Label("Avgift", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(x => x.Fee, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger col-md-9" })
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="submit" value="Lagre" class="btn btn-default btn-admin-save btn-save" />
                    </div>
                </div>
}
