@model Model.AdminDepartureViewModel

@using (Ajax.BeginForm("Departure", "Admin", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Validation", UpdateTargetId = "show-hide-element" }, new { id = "form" }))
{

   <div class="col-sm-6 ">
        @Html.Label("Til")
        @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "create-input-dialog move-to", @list = "Airport" } })
        @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
        <datalist id="Airport">
            @foreach (var airport in Model.Airport)
            {
                <option value="@airport.AirportId" id="@airport.AirportId">@airport.Name</option>
            }
            
        </datalist>
    </div>

     <div class="col-sm-6">
         @Html.Label("Fra")
         @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "create-input-dialog", @list = "Airport" } })
          @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
             <datalist id="Airport">
                @foreach (var airport in Model.Airport)
                {
                    <option value="@airport.AirportId" id="@airport.AirportId">@airport.Name </option>
                }
                        </datalist>
                    </div>

                    <div class="col-sm-6">
                        @Html.Label("Dato")
                        @Html.EditorFor(x => x.Date, new { htmlAttributes = new { @class = "create-input-dialog move-date", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-sm-6">
                        @Html.Label("Tid")
                        @Html.EditorFor(x => x.DepartureTime, new { htmlAttributes = new { @class = "create-input-dialog" } })
                        @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Lagre" class="btn btn-default position-button btn-save" />

}