@model Model.AdminOrderViewModel

@using (Ajax.BeginForm("Order", "Admin", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Validation", UpdateTargetId = "show-hide-element" }, new { id = "form" }))
{
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Flight ID", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.FlightId, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9", @list = "Departure" } })
                        @Html.ValidationMessageFor(model => model.FlightId, "", new { @class = "text-danger col-md-9" })
                        <datalist id="Departure">
                            @foreach (var dep in Model.Departure)
                            {
                                <option value="@dep.FlightId" id="@dep.FlightId">@dep.From - @dep.To</option>
                            }
                            }
                        </datalist>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Dato", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger col-md-9" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Fornavn", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger col-md-9" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Etternavn", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger col-md-9" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Telefon", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Tlf, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Tlf, "", new { @class = "text-danger col-md-9" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("E-post", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger col-md-9" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.Label("Pris", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "create-input-dialog form-control col-md-9" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger col-md-9" })
                    </div>

                    <input type="submit" value="Lagre" class="btn btn-default position-button btn-save" />
}
