@model Model.AdminOrderViewModel

@using (Ajax.BeginForm("Order", "Admin", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Validation", UpdateTargetId = "show-hide-element" }, new { id = "form" }))
{
    <div class="col-sm-6">
        @Html.Label("Flight ID")
        @Html.EditorFor(model => model.FlightId, new { htmlAttributes = new { @class = "create-input-dialog ", @list = "Departure" } })
        @Html.ValidationMessageFor(model => model.FlightId, "", new { @class = "text-danger" })
        <datalist id="Departure">
            @foreach (var dep in Model.Departure)
            {
                <option value="@dep.FlightId" id="@dep.FlightId">@dep.From - @dep.To</option>
            }
            }
        </datalist>
    </div>

                    <div class="col-sm-6">
                        @Html.Label("Dato")
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "create-input-dialog move-order-date", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-sm-6">
                        @Html.Label("Fornavn ")
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "create-input-dialog move-order-firstname" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-sm-6">
                        @Html.Label("Etternavn")
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "create-input-dialog " } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-sm-6">
                        @Html.Label("Telefon")
                        @Html.EditorFor(model => model.Tlf, new { htmlAttributes = new { @class = "create-input-dialog move-order-tlf" } })
                        @Html.ValidationMessageFor(model => model.Tlf, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-sm-6">
                        @Html.Label("E-post")
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "create-input-dialog move-order-email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-sm-6">
                        @Html.Label("Pris")
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "create-input-dialog move-order-price" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Lagre" class="btn btn-default position-button btn-save" />
}
