@model List<Flybiletter.Models.Departure>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <title>Reise</title>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        
        function depRows() {
            $('tr.clickDep').click(function () {
                var tableData = $(this).children("td").map(function () {
                    return $(this).text();
                }).get();

                var id = $.trim(tableData[0]);
                var tid = $.trim(tableData[1]);
                var dato = $.trim(tableData[2]);
                var fra = $.trim(tableData[3]);
                var til = $.trim(tableData[4]);
                var pris = $.trim(tableData[5]);

                //window.location.replace("Home/Passenger?ID=" + id);

                alert("FLYINFO \nFlightID: " + id +
                    "\nTid: " + tid +
                    "\nDato: " + dato +
                    "\nFra: " + fra +
                    "\nTil: " + til +
                    "\nPris: " + pris)
            });
        }

        
        /*
        $("tbody").on("click", "tr", function (e) {
            $(this)
                .toggleClass("selected")
                .siblings(".selected")
                .removeClass("selected");
        });*/


        /*
        $(function(){
            $(".table > tbody > tr").click(function () {
                var id = $(this).find("#flightID").text();

                //Ensure ID is numbers only
                var regex = /^[0-9]+$/;
                if (regex.test(id)) {
                    //Navigate to next view (Passenger)
                    window.location.replace("Home/Passenger?ID=" + id);
                }
            });
        });
        */

    </script>
</head>
<body>

    <div class="container">
        <!--UTREISE-->
        <h2 id="tickets-header">UTREISE</h2>
        <div class="biletter">
            <table class="table" id="tableDep">
                <thread>
                    <tr>
                        <th>Flight ID</th>
                        <th>Tid</th>
                        <th>Dato</th>
                        <th>Fra</th>
                        <th>Til</th>
                        <th>Pris</th>
                    </tr>
                    <tbody>
                    @{
                        int[] array = ViewData["Price"] as int[];
                        int i = -1;

                        foreach (var departure in Model)
                        {
                            i++;
                            <tr onclick="depRows(this)" class="clickDep">
                                <td id="flightID">@departure.FlightId</td>
                                <td>@departure.DepartureTime</td>
                                <td>@departure.Date</td>
                                <td>@departure.From</td>
                                <td>@departure.To</td>
                                <td>@array[i]</td>
                            </tr>

                        }
                    }
                        </tbody>
                </thread>
            </table>
        </div>
        <br />
        <a href="Index" class="btn btn-lg btn-default pull-left">Tilbake</a>
        <input type="submit" value="Velg" class="btn btn-lg btn-primary pull-right" id="button-design"/>
        
        <!--<a href="/Home/Passenger" class="btn btn-lg btn-primary pull-right" id="button-design">Fortsett</a>-->
    </div>

</body>
</html>
